{% extends 'solicitudes/form_base.html' %}
{% block legend %} Datos de solicitud - R&eacute;gimen especial {% endblock %}
{% block action %} /solicitudes/regimen/generar/ {% endblock %}

{% block form %}
<tr> <td align = 'right'> Opci&oacute;n </td>
<td>
<select name = 'departamento'>
{% for d in departamentos %}
<option value='{{ d.nombre }}'> {{ d.nombre }} </option>
{% endfor %}
</select>
</td> </tr>

<tr> <td align = 'right'> Semestre de r&eacute;gimen especial </td>
<td>
<select name = 'semestre'>
{% for s in semestres %}
<option value='{{ s.codigo }}'> {{ s.codigo }} </option>
{% endfor %}
</select>
</td> </tr>

<tr> <td align = 'right'> Materia solicitada </td>
<td>
<select name = 'materia'>
{% for m in materias %}
<option value='{{ m.nombre }}'> {{ m.nombre }} </option>
{% endfor %}
</select>
</td> </tr>

<tr> <td align = 'right'> Profesor(a) de la materia </td>
<td>
<select name = 'profesor'>
{% for m in miembros %}
<option value='{{ m }}'> {{ m }} </option>
{% endfor %}
</select>
</td> </tr>
{% endblock %}