{% extends "base.html" %}

{% block title %}
{{ block.super}} Noticias
{% endblock %}

{% block content %}
{% load comments %}
<h4>Archivos por año</h4>
<p>¿Desea ver el archivo de las noticias por año?</p>
<ul>
	{% for date in date_list %}
	<li><a href="{{ date|date:"Y" }}" title="Vea las entradas del año: {{ date|date:"Y" }}" hreflang="es" rel="" class="link-year">{{ date|date:"Y" }}</a></li>
	{% endfor %}
</ul>

<h4>Ultimas noticias</h4>
<ul>
	{% for object in latest %}
	{% get_comment_count for blog.noticia object.id as comment_count %}
	<li><a href="{{ object.get_absolute_url }}" title="Vea la entrada: {{ object.titulo|escape }}" hreflang="es" rel="" class="link-article">{{ object.titulo|escape }}</a>
	{% if comment_count %}
	(<a href="{{ object.get_absolute_url }}#comments" class="link-comments">{{ comment_count }} comentario{{ comment_count|pluralize }}</a>)
	{% endif %}
	</li>
	{% endfor %}
</ul>
{% endblock %}
