{% extends "base.html" %}

{% block title %}
{{ block.super }} Acerca de nuestra escuela
{% endblock%}

{% block content %}
<h4>Acerca de nuestra escuela</h4>
<p>El inicio de los estudios de Matemática en la casa de Estudios
Superiores Emeritense coincide con la creación de la Real Universidad de
San Buenaventura de Mérida de los Caballeros en virtud del decreto
expedido por la Superior Junta Gubernativa de la Provincia el 21 de
septiembre de 1810, por el cual se concede que además de las cátedras
que al presente tiene el Seminario habiendo fondos suficientes, se
aumente otra de Filosofía si fuese necesario y se establezcan las de
Anatomía, Matemática, Historia Eclesiástica, Concilios, Lugares
Teológicos y Sagrada Escritura. Pero fue a mediados del siglo XIX, en
1843, cuando se fundó la cátedra de Matemática que regentó inicialmente
el Dr. Eloy Paredes.</p>

<p>Hacia 1898 ésta había evolucionado en Facultad de Ciencias Exactas
que dispondría de Cátedras de Algebra Superior, Geometría Analítica y
Descriptiva, Cálculo Infinitesimal, Mecánica Racional, Geodesia,
Astronomía y Física. Otorgándose para esta fecha el título de Agrimensor
y Física.</p>

<p>En 1918, el Rector Dr. Diego Carbonell, estableció la  Escuela de
Ciencias Físicas-Matemáticas y Naturales, que conforme al decreto del
Ejecutivo Nacional del 28 de julio de 1932 se transformó en Escuela de
Ciencias Físicas y Matemáticas.</p>

<p>En el primer rectorado del Dr. Humberto Ruíz Fonseca fue erigida en
Facultad de Ingeniería por el Consejo Universitario el 14 de octubre de
1936. El 10 de julio de 1962 se creó el Instituto de Fotogrametría de la
Universidad de Los Andes, adscrito a la Facultad  de Ingeniería, según
Decreto del Consejo Universitario y conforme a la decisión del Consejo
Nacional de Universidades de fecha  29 de julio del mismo año.  En el
rectorado del Dr. Pedro Rincón Gutiérrez fue establecida la Escuela de
Ingeniería Eléctrica el 27 de Junio de 1964.</p>

<p>En virtud de la masificación estudiantil y como resultado de la
preocupación de algunos profesores de la Facultad, en el año 1970 se
abrieron nuevas oportunidades de estudio, y tendiendo a la
diversificación, se crearon como departamentos las carreras de
Ingeniería Química (departamento adscrito a la Escuela de Ingeniería
Civil), Ingeniería de Sistemas e Ingeniería Mecánica (departamentos
adscritos a la Escuela de Ingeniería Eléctrica). Estas nuevas carreras
fueron confirmadas como nuevas Escuelas por el Consejo Nacional de
Universidades en 1974.</p>
<p>A partir de 1970, se crea a nivel Universitario, el Ciclo Básico
General, para la realización de los Estudios Básicos de Ingeniería,
manteniéndose en la Facultad los estudios a nivel del ciclo profesional.
De manera que para 1975, la Facultad de Ingeniería de la Universidad de
los Andes cuenta con cinco Escuelas, las cuales ofrecen oportunidades de
estudio en las carreras de Ingeniería Civil, Ingeniería Eléctrica,
Ingeniería Química, Ingeniería de Sistemas e Ingeniería Mecánica.</p>
 
<p>En 1973 se iniciaron cursos de Postgrado con el conferimiento del
grado de Magister en Suelos y Riego, Riego y Drenaje, Hidrología,
Ingeniería Hidráulica y Planificación de Recursos Hidráulicos. Estos
cursos fueron dictados por el CIDIAT con la colaboración de la Facultad
de Ingeniería y el MOP.</p>
 
<p>En enero de 1984, se inicia en la Facultad de Ingeniería la carrera
de Geología adscrita a la Escuela de Ingeniería Civil, con fecha  04  de
junio de 1993 el Consejo Nacional de Universidades aprueba la creación
de la Escuela de Ingeniería Geológica.</p>
 
<p>En la reunión ordinaria del 08 de junio de 1989, el Consejo
Universitario conoció y aprobó el informe de creación  de la Escuela
Básica de Ingeniería a partir del 30 de mayo de 1989. Aprobada luego por
el Consejo Nacional de Universidades en su sesión ordinaria del 28 de
julio del mismo año.</p>
{% endblock %}
