{% extends "base.html" %}

{% block content %}
<div class="tabberdisabled">

			
				<div class="tabbertab">
    
                                <div class="left">

				<!--<h4 id="headlinenoteworthy">Noteworthy</h4>-->
				<h4>Perfil del ingeniero</h4>


				<div class="newsitem"><p>Los Ingenieros en Sistemas de la Universidad de los Andes serán especialistas en sistemas de información para la empresa, aplicaciones y sistemas distribuidos e inteligencia artificial, pero sobre todo serán profesionales que respondan, por sus capacidades y sólida  formación, a las expectativas del mundo laboral y ello no sólo en el momento en que se incorporen por primera vez a la empresa o a la administración, sino también en el futuro, ya que estarán preparados para integrarse en un entorno tan cambiante como es el de las tecnologías de la información.</p>
				<br class="clear" />
				</div>


				<div class="newsitem">
<p class="headline"><a href="http://lipsum.com">Lorem Ipsum</a></p> 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<br class="clear" />
				</div>


				<div class="newsitem">
<p class="headline"><a href="http://lipsum.com">Lorem Ipsum</a></p> 
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<br class="clear" />
				</div>

				</div> <!-- end left -->

				<div class="right">
					<!--<h4 id="headlineevents">Events</h4>-->
					<h4>Eventos</h4>

                    <div class="eventitem">
                        <p class="eventdate">Abril 28</p>
                        <p><a href="http://installfest.info">Festival Latinoamericano de Instlacion de Software Libre</a></p>
			<br class="clear" />
                    </div>

					<div class="eventitem">
	<p class="eventdate">Marzo 14</p>    
        <p><a href="#">Vicerrectorado Administrativo incrementa de nuevo la cobertura básica de HCM</a></p>
<br class="clear" />
					</div>

					<div class="eventitem">
    <p class="eventdate">Marzo 28</p><p><a href="#">Nutrición y Dietética</a> dicta curso sobre conteo de carbohidratos</p>
<br class="clear" />
					</div>

                    <div class="eventitem">
<p class="eventdate">Febrero 15</p>
<p><a href="#">Foro: Socialismo del siglo XXI y sus visiones Trujillo</a></p>
<br class="clear" />
                    </div>

                    <div class="eventitem">
<p class="eventdate">Abril 26</p>
<p><a href="#">Seminario nacional: Desarrollo rural sustentable y empresas asociativas en Venezuela</a></p>
<br class="clear" />
                    </div>

					<br class="clear" />
					<!--<p class="viewallup"><a href="calendar/">All upcoming events</a></p>-->
					<br class="clear" />


					<!--<h4 id="headlinespotlight">Spotlight</h4>-->
					<h4>Novedades</h4>
					<div class="videoitem">
						<!--<a href="academics/"><img src="images/videothumb2.jpg" border="0" /></a>-->
						<p><a href="#">GNU Octave</a></p>
<p>Estamos desarrollando ejemplos de cálculo y simulación en GNU Octave
mostrando gráficos, simulaciones de ecuaciones diferenciales y ejemplos
de control de sistemas no lineales. Se pueden hacer modificaciones de
los parámetros y, en el caso de ejemplos de sistemas de control, escoger
las estrategias de control a utilizar. Los resultados se presentan en
figuras del tipo PNG. Se presentan, por ejemplo, diagramas de Bode y de
Nyquist para un sistema de segundo orden. El primer ejemplo de sistemas
de control es el de un artefacto espacial controlado mediante
linealización aproximada. Se presenta un control por realimentación del
vector de estados, incluyendo un observador de orden completo que puede
incorporarse o no en la simulación.</p>

						<br class="clear" />

					</div>
                </div><!-- /right -->
        </div><!-- /tabbertab -->
		<div class="tabbertab">
					
		</div>
	</div>
<!--</div>-->
{% endblock content %}
