{% extends "base.html" %}

{% block title %}
{{ block.super }} Vista 3D de nuestras instalaciones
{% endblock %}

{% block content %}
<h4>Nuestras Instalaciones</h4>
<p>A continuación se puede apreciar un modelo 3D de la facultad de
Ingeniería de nuestra ilustre Universidad de Los Andes.</p>
<p>Proximamente este modelo entrará en el concurso que está organizando
<a href="http://earth.google.com/">Google Earth</a>.</p>
<p><img src="/m/imgs/pedro.png" alt="modelo 3d de nuestras instalaciones" /></p>
<p>Diseñador: <a href="/miembros/cesar">César Arismendi</a></p>
{% endblock %}
